{% extends "base.html" %}

{% load widget_tweaks %}

{% block titulo %}
	Adicionar nova campanha | {{ block.super }}
{% endblock titulo %}

{% block row %}
	<h3>Criar campanha</h3>
	<form action="" method="post" accept-charset="utf-8" enctype="multipart/data-form">
		{% csrf_token %}
		<div class="form-group">
			<label for="{{ form_campanha.titulo.id_for_label }}">Campanha</label>
			{{ form_campanha.titulo|add_class:"form-control"|attr:"autofocus" }}
		</div>
		<div class="form-group">
			<label for="{{ form_campanha.descricao.id_for_label }}">Descrição</label>
			{{ form_campanha.descricao|add_class:"form-control" }}
		</div>
		<div class="form-group">
			<label for="{{ form_campanha.local.id_for_label }}">Local</label>
			{{ form_campanha.local|add_class:"form-control" }}
		</div>
		<div class="form-group">
			<label for="{{ form_campanha.data_campanha.id_for_label }}">Data</label>
			{{ form_campanha.data_campanha|add_class:"form-control" }}
		</div>
		<div class="form-group">
			<label for="{{ form_campanha.horario.id_for_label }}">Horário</label>
			{{ form_campanha.horario|add_class:"form-control" }}
		</div>
		<div class="form-group">
			<label for="{{ form_campanha.imagem.id_for_label }}">Imagem</label>
			{{ form_campanha.imagem|add_class:"form-control" }}
		</div>
		<button type="submit" class="btn btn-primary">Salvar</button>
		<a href="{% url 'campanha:dashboard' %}" title="Cancelar campanha" class="btn btn-warning">Cancelar</a>
	</form>
{% endblock row %}